[submodule "nephrology_knownledge_base/nephrology-knowledge-base-self-refreshing/execution/opencode/opus_4_5"]
	path = nephrology_knowledge_base/nephrology-knowledge-base-self-refreshing/execution/opencode/opus_4_5
	url = git@github.com:ShreeMulay/opus_4_5.git
[submodule "nephrology_knownledge_base/nephrology-knowledge-base-self-refreshing/execution/opencode/glm"]
	path = nephrology_knowledge_base/nephrology-knowledge-base-self-refreshing/execution/opencode/glm
	url = git@github.com:ShreeMulay/glm.git
[submodule "development/mcp_ui"]
	path = development/mcp_ui
	url = git@github.com:ShreeMulay/mcp-ui-playground.git
[submodule "development/fax-manager"]
	path = development/fax-manager
	url = git@github.com:ShreeMulay/fax-manager.git
[submodule "how-to-use-appify"]
	path = how-to-use-appify
	url = git@github.com:ShreeMulay/how-to-use-appify.git
[submodule "development/adi-learning-adventure-v2"]
	path = development/adi-learning-adventure-v2
	url = git@github.com:ShreeMulay/adi-learning-adventure-v2.git
[submodule "development/opencode-history-export"]
	path = development/opencode-history-export
	url = git@github.com:ShreeMulay/opencode-history-export.git
[submodule "development/cadence"]
	path = development/cadence
	url = git@github.com:ShreeMulay/cadence.git
